/*format the page number*/
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  cursor: pointer;
}

.pagination a {
  color: #fd0000;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  background: #fff;
}

/*format of selected page number*/
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #659afc;
}
